<div class="register-container">
    <div class="left-panel">
        <img src="https://raw.githubusercontent.com/jrvrr/DESARROLLO-MOVIL-MULTIPLATAFORMA/main/src/assets/icon/logo.vanguard.png"
            alt="Logo" class="logo" />
        <p>Únete y disfruta de todos nuestros beneficios exclusivos.</p>
    </div>
    <div class="right-panel">
        <h2>Regístrate</h2>
        <p>Únete a nosotros y disfruta de nuestros servicios.</p>
        <form class="formulario">
            <h2 class="titulo">Registro de Usuarios</h2>
            <input type="text" placeholder="Nombre completo" required class="input"><br><br>
            <input type="email" placeholder="Correo electrónico" required class="input"><br><br>
            <input type="text" placeholder="Usuario" required class="input"><br><br>
            <input type="password" placeholder="Contraseña" required class="input"><br><br>
            <input type="password" placeholder="Confirmar Contraseña" required class="input"><br><br>
            <button type="submit" class="boton">Registrar</button>
        </form>
        <p class="login-link">¿Ya tienes una cuenta? <a href="login">Inicia sesión</a></p>
    </div>
</div>